<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" remove="tag">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>管理者ホーム</title>
</head>
<body>

	<main layout:fragment="content">
		<div class="row">
			<div class="col-12 text-center">
				
				<h3 class="text-primary mb-5">管理者ホーム</div>
				
				<div class="d-flex flex-column justify-content-center w-75 mx-auto" style="max-width: 400px;">
					
					<a th:href="@{/admin/register}">
						<button class="btn btn-info w-100 mb-3">社員登録</button>
					</a>
					
					<a th:href="@{/admin/employee_list}">
						<button class="btn btn-info w-100 mb-3">社員一覧</button>
					</a>
					
					<a th:href="@{/admin/approval_report}">
						<button class="btn btn-info w-100 mb-3">月次報告の確認・承認</button>
					</a>
					
				</div>
				
			</div>
		</div>
	</main>
	
</body>
</html>