<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" remove="tag">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${status == 'register' 
		? '社員登録' : '登録情報変更'}">タイトル</title>
</head>
<body>

	<main layout:fragment="content">
		<div class="row">
			
			<!-- メッセージ -->
			<div th:replace="~{fragments/message :: message}"></div>
			
			<div class="col-lg-6 col-sm-9 col-12 mx-auto mb-4">
				
				<h3 class="text-primary text-center mb-4" 
						th:text="${status == 'register' ? '社員登録' : '登録情報変更'}"></h3>
				
				<form method="post" th:object="${employee}">
					
					<!-- CSRFトークンの生成
						403エラー回避のため -->
					<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}">
					
					<!-- 入力欄がないものを格納 -->
					<input type="hidden" th:field="*{id}">
<!--					<input type="hidden" th:field="*{empId}">-->
					<input type="hidden" th:field="*{auth}">
					
					<input type="hidden" name="status" th:value="${status}">
					
					<div class="mb-4">
						<label class="form-label">
							<span class="bg-danger text-white small rounded px-2 py-1 mr-1">
								必須</span>
							社員ID：
						</label>
						<input class="form-control" type="text" th:field="*{empId}"
								th:errorclass="is-invalid">
						<div class="text-danger" th:errors="*{empId}"></div>
					</div>
					
					<div class="mb-4">
						
						<label class="form-label">
							<span class="bg-danger text-white small rounded px-2 py-1 mr-1">
								必須</span>
							名前
						</label>
						
						<div class="d-flex justify-content-between" id="nameForm"
								style="gap:5px">
							<div class="d-flex flex-fill">
								<label class="form-label my-auto">姓：</label>
								<input class="form-control" type="text" 
										th:field="*{lastName}" placeholder="例：山田"
										th:errorclass="is-invalid">
							</div>
							<div class="d-flex" style="min-width: 5px;">
								<label class="form-label my-auto" 
										id="middleNameLabel" style="display:none; min-width:120px">
										ミドルネーム：</label>
								<input class="form-control" type="text" 
										th:field="*{middleName}" placeholder="（ミドルネーム）"
										th:errorclass="is-invalid" style="display: none;">
							</div>
							<div class="d-flex flex-fill">
								<label class="form-label my-auto">名：</label>
								<input class="form-control" type="text" 
										th:field="*{firstName}" placeholder="例：太郎"
										th:errorclass="is-invalid">
							</div>
						</div>
						
						<div class="text-danger" th:errors="*{lastName}"></div>
						<div class="text-danger" th:errors="*{firstName}"></div>
						
						<!-- 以下の姓名の順番とミドルネームの有無は使用しないため
							divのstyleにdisplay:noneを設定している -->
						
						<!-- 姓名の順番を逆にする -->
						<div class="form-check mt-2" style="display: none;">
							<input class="form-check-input" type="checkbox" 
									id="nameReverseOrder" name="nameReverseOrder"
									onClick="directionFunc()" value="checked">
							<lavel class="form-check-label" for="nameReverseOrder">名→姓の順にする</lavel>
						</div>
						<input type="hidden" id="nameReverseOrderInput" th:value="${nameReverseOrder}">
						
						<!-- ミドルネームの有無 -->
						<div class="form-check mt-2" style="display: none;">
							<input class="form-check-input" type="checkbox" id="addMiddleName"
									onClick="middleNameFunc()">
							<lavel class="form-check-label" for="addMiddeleName">ミドルネームを追加する</lavel>
						</div>
						
					</div>
					
					<div class="mb-4">
							
						<label class="form-label">
							<span class="bg-danger text-white small rounded px-2 py-1 mr-1">
								必須</span>
							名前（フリガナ）
						</label>
						
						<div class="d-flex justify-content-between" id="nameKanaForm"
								style="gap:5px">
							<div class="d-flex flex-fill">
								<label class="form-label my-auto">姓：</label>
								<input class="form-control" type="text" 
										th:field="*{lastNameKana}" placeholder="例：ヤマダ"
										th:errorclass="is-invalid">
							</div>
							<div class="d-flex" style="min-width: 5px;">
								<label class="form-label my-auto"
										id="middleNameKanaLabel" style="display:none; min-width:120px">
										ミドルネーム：</label>
								<input class="form-control" type="text" 
										th:field="*{middleNameKana}" placeholder="（ミドルネーム）"
										th:errorclass="is-invalid" style="display: none;">
							</div>
							<div class="d-flex flex-fill">
								<label class="form-label my-auto">名：</label>
								<input class="form-control" type="text" 
										th:field="*{firstNameKana}" placeholder="例：タロウ"
										th:errorclass="is-invalid">
							</div>
						</div>
						
						<div class="text-danger" th:errors="*{lastNameKana}"></div>
						<div class="text-danger" th:errors="*{firstNameKana}"></div>
						
					</div>
					
					<!-- js -->
					<script src="/js/ChangeForm.js"></script>
					
					
					<div class="mb-4">
						<label class="form-label">
							<span class="bg-danger text-white small rounded px-2 py-1 mr-1">
								必須</span>
							生年月日：
						</label>
						<input class="form-control" type="date" th:field="*{birthday}"
								th:errorclass="is-invalid">
						<div class="text-danger" th:errors="*{birthday}"></div>
					</div>
					
					<div class="mb-4">
						<label class="form-label">
							<span class="bg-danger text-white small rounded px-2 py-1 mr-1">
								必須</span>
							パスワード：<br>（※英大文字、英小文字、数字、記号を含む8文字以上）
						</label>
						<input class="form-control" type="password" th:field="${passwords.password}"
								th:errorclass="is-invalid">
						<div class="text-danger" th:errors="${passwords.password}">
						</div>
					</div>
					
					<div class="mb-4">
						<label class="form-label">
							<span class="bg-danger text-white small rounded px-2 py-1 mr-1">
								必須</span>
							パスワード（再入力）：
						</label>
						<input class="form-control" type="password" th:field="${passwords.passwordAgain}"
								th:errorclass="is-invalid">
<!--						<div class="text-danger" th:errors="${passwords.passwordAgain}"></div>-->
					</div>
					
					<div class="mb-4">
						<label class="form-label">携帯電話：</label>
						<input class="form-control" type="tel" th:field="*{tel}">
					</div>
					
					<div class="mb-4">
						<label class="form-label">メールアドレス：</label>
						<input class="form-control" type="email" th:field="*{email}">
					</div>
					
					<div class="mb-4">
						<label class="form-label">勤務先：</label>
						<input class="form-control" type="text" th:field="*{location}">
					</div>
					
					<div class="mb-4">
						<label class="form-label">部署：</label>
						<input class="form-control" type="text" th:field="*{dept}">
					</div>
					
					<div class="mb-4">
						<label class="form-label">入社日</label>
						<input class="form-control" type="date" th:field="*{joining}">
					</div>
					
					<div th:if="${status == 'register' || status == 'revice'}" 
							class="m-4">
						<input th:if="*{auth} == ${adminAuth}" class="form-check-input" type="checkbox" 
								id="adminCheck" name="adminCheck" value="checked" checked>
						<input th:unless="*{auth} == ${adminAuth}" class="form-check-input" type="checkbox" 
								id="adminCheck" name="adminCheck" value="checked">
						<label class="form-check-label" for="adminCheck">管理者として登録</label>
					</div>
					<input th:unless="${status == 'register' || status == 'revice'}"
							type="hidden" name="adminCheck" 
							value="*{auth} == ${adminAuth} ? 'checked' : ''">
					
					<!-- 登録ボタン -->
					<div class="my-5">
						<button th:if="${status == 'register'}" class="btn btn-primary px-3"
								th:formaction="@{/admin/register_confirm}">登録する</button>
						
						<button th:if="${status == 'revice'}" class="btn btn-primary px-3"
								th:formaction="@{/admin/register_confirm}">変更する</button>
						
						<button th:if="${status == 'adminRevice' || status == 'empRevice'}" class="btn btn-primary px-3"
								th:formaction="@{/revice}">変更を反映する</button>
					</div>
					
				</form>
				
			</div>
		</div>
		
		<div class="row mb-5">
			<div class="col">
				<a th:href="${status} == 'empRevice' ? @{/home} : @{/admin/home}">
					&lt;&nbsp;ホームに戻る
				</a>
			</div>
		</div>
		
	</main>

</body>
</html>