<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- 非ログイン時のヘッダー -->
	<div th:fragment="header-nologin" id="header">
		<div class="row text-right px-1" 
				style="background-color: darkturquoise; color: white;"
				th:text="${status < 400 ? 'ログインしていません' : 'エラー'}">
		</div>
		<div class="row" style="background-color: lightcyan; height: 5rem;">
			<img class="mx-sm-4 mx-3 my-auto" src="/images/inet_logo.png" alt="inet_logo"
					style="width: 20%; max-width: 150px;">
			<h4 class="my-auto font-weight-bold">
				インターネット北海道<br>
				勤怠管理システム
			</h4>
			
		</div>
	</div>



	<!-- ログイン時のヘッダー -->
	<div th:fragment="header-login" id="header">
		
		<div class="row text-right d-flex justify-content-between align-items-center" 
				style="background-color: darkturquoise; color: white;">
			<div class="px-1">
				ログイン中：<span th:text="${user.username}"></span>
			</div>
			<div class="w-25 text-center text-white" 
					style="max-width: 200px; background-color: dodgerblue;">
				<form th:action="@{/logout}" name="logout" method="post">
					<!-- ログアウト時にセッションを破棄するためCSRFトークンを取得 -->
					<input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}">
					<a href="javascript:logout.submit()" 
							class="w-100">ログアウト</a>
				</form>
			</div>
		</div>
		
		<div class="row" style="background-color: lightcyan; height: 5rem;">
			<img class="mx-sm-4 mx-3 my-auto" src="/images/inet_logo.png" alt="inet_logo"
					style="width: 20%; max-width: 150px;">
			<h4 class="my-auto font-weight-bold">
				インターネット北海道<br>
				勤怠管理システム
			</h4>
			
		</div>
		
		<!-- 従業員メニュー -->
		<div id="empMenu" style="display: block;">
			<div class="row d-flex header-menu">
				
				<div class="col-md col-4 p-0">
					<div>
						<a th:href="@{/home}">ホーム</a>
					</div>
				</div>
				
				<div class="col-md col-4 p-0">
					<div>
						<a th:href="@{/attendance}">打刻する</a>
					</div>
				</div>
				
				<div class="col-md col-4 p-0">
					<div>
						<a th:href="@{/attendance_record}">勤怠管理表</a>
					</div>
				</div>
				
				<div class="col p-0">
					<div>
						<a th:href="@{/monthly_report}">月次報告</a>
					</div>
				</div>
				
<!--			<div class="col">-->
<!--				経理管理表-->
<!--			</div>-->
				
				<div class="col p-0">
					<div>
						<a th:href="@{/revice}">登録情報変更</a>
					</div>
				</div>
				
				<div th:if="${user != null && #strings.toString(user.authorities[0]).equals('ADMIN')}" 
						class="col p-0">
					<div>
						<a th:href="@{/admin/home}">管理者ホーム</a>
					</div>
				</div>
				
			</div>
		</div>
		

		<!-- 従業員メニューと管理者メニューのどちらを表示するかの切り替え -->
		<script src="/js/Header.js"></script>
		
		
	</div>


</body>
</html>