<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- メッセージはcolとして挿入する -->

	<div th:fragment="message" th:if="${msg != null || warn != null}"  
			class="col-12 justify-content-center mx-auto mb-4" id="message">
		
		<!-- メッセージ表示エリア -->
			
		<div th:if="${msg}">
			<div class="alert alert-info mx-auto d-flex" style="max-width: 800px;">
				<div class="bi bi-info-circle h2 my-auto mr-3"></div>
				<span th:text="${msg}" class="my-auto"></span>
			</div>
		</div>
		
		<div th:if="${warn}">
			<div class="alert alert-danger mx-auto d-flex" style="max-width: 800px;">
				<div class="bi bi-exclamation-triangle-fill h2 my-auto mr-3"></div>
				<span th:text="${warn}" class="my-auto"></span>
			</div>
		</div>
		
	</div>

</body>
</html>